.bgIndex {
    height: 100%;
    background: url(../../assets/img/bgIndex.jpg);
    background-size:  cover;
}

._share{
    position: absolute;
    top: 30% !important;
    left: 5%;
}
._SignInLogIn{
    position: absolute;
    bottom: 5%;
    right: 2%;
}
._Footer{
    position: fixed;
    bottom: -18%;
    left: 50%;
}
._Intro{
    width: 100%;
    position: absolute;
    top: 12%;
    z-index: 10;
}